{% extends "base.html" %}


{% block title %}
ToolTypes
{% endblock %}

{% block main %}
<br>
<div class="alert alert-info" role="alert">
    <h3> Tool types </h3>
</div>

    <hr class="featurette-divider" id="level-1">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-Заголовок">The definition of quality for germination of crops. <span class="text-muted">Simple!</span></h2>
        <p class="lead">A set of tools for recognizing anomalies in the development
          of agricultural crops, damage from pests, etc.</p>
      </div>
      <div class="col-md-5">
        <img class="img-center" width="500" height="500"
             src="./../../static/static_images/landscape.jpg"
             alt="eoScan">
      </div>
    </div>

    <hr class="featurette-divider" id="level-2">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-Заголовок">Determination of areas occupied by agricultural crops. <span class="text-muted">Fast!</span></h2>
        <p class="lead">Determine the areas occupied by agricultural crops and the areas occupied by shrubs and forests.</p>
      </div>
      <div class="col-md-5 order-md-1">
<!--        <img class="img-center" width="500" height="500" src="./../../static/static_images/arable.jpg" alt="eoScan">-->
        <img class="img-center" width="500" height="500"
             src="./../../static/static_images/gif(3).gif"
             alt="eoScan">
      </div>
    </div>

    <hr class="featurette-divider" id="level-3">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-Заголовок">
            The determination of the distances between the sprouts.
            <span class="text-muted">Smart.</span>
        </h2>
        <p class="lead">
            Find deviations from technological distances, omissions, and doubles.
            Find out the proportion of plants outside the rows.
        </p>
      </div>
      <div class="col-md-5">
        <img class="img-center" width="500" height="500"
             src="./../../static/static_images/john-deere.jpg"
             alt="eoScan">
      </div>
    </div>

    <hr class="featurette-divider">

{% endblock %}